# qmake / Qt Creator
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
*.pro.user

# Build outputs
build-*/
debug/
release/
*.o
*.obj
*.ilk
*.pdb

# Distribution artifacts
dist/
!dist/
dist/*
!dist/QtWaveformViewer-win64.zip
